html{
    width: 100%;
    height: 100%;
    background-color: rgb(226, 226, 226);
    scroll-behavior: smooth;
    font-family:$font-Page;
    box-sizing: border-box;
    
}





.header{
    @include flex-center;
    
    justify-content: space-between;
    background-color: rgb(65, 187, 235);
    
   
}



.main{
    display: flex;
    flex-direction: column;
    

}


.footer{
    display: flex;
    justify-content: center;
    background-color: rgb(191, 173, 151);
}

